/* General */
html, body {
  font-family: helvetica;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
}

p {
  position:relative;
}

textarea {
  position: relative;
  width: 100%;
  height: 50%;
  margin-top:50px
}

li {
  list-style-type: none;
}

/* Navbar */
#navbar {
  list-style-type: none;
  height: 40px;
  width: 96%;
  margin: 10px;
  padding: 0;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.navelement {
  float: left;
  display: block;
  color: #666;
  text-align: center;
  padding: 8px 17px;
  text-decoration: none;
}

.navtext {
  color: #2d2d2d;
  text-decoration: none;
  position:relative;
  z-index:2;
}

.navtext:hover:not(.active) {
  background-color: #ddd;
}

.navelementActive {
  color: white;
  background-color: #04AA6D;
}


.column {
  position: absolute;
  width: 30%;
  height: 100%;
  top: 20px;
  margin: 30px;
}

/*
.statusList {
  margin-top:20px;
}
*/

/* Specific */
.chartjs-render-monitor {
  margin-top: 20px;
  margin-bottom: 20px;
}
.box {
  position: relative;
  display: inline-block;
  border-radius: 30%;

  width: 13px;
  height: 13px;
  top: 0px;
  left: 0px;
  background-color: red;
}

#log {
  width: 33%;
  height: 800px;
  white-space: pre-line;
}

#chart {
  width: 100%;
  height: 50%;
}

.statusList {
  margin: auto;
}

#htl-logo {
  position:relative;
  width: 15%;
  margin-top: -1px;
  margin-right: -1px;
  float: right;
}
