<html>
    <head>
        <title> SumoBots </title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" type="image/png" href="/favicon.png"> </link>
    </head>
    <body>

    <ul id="navbar">
        <li class="navelement"> <a class="navtext" href="{{ url_for('index') }}"> Home </a> </li>
        <li class="navelement navelementActive"> <a class="navtext" href="{{ url_for('about') }}"> About </a> </li>
    </ul> 

        <p>
            Das ist die Website des Sumobots, der Diplomarbeit die in der HTL Wien 10 von
            <ul>
                <li> 1. Lukas Lucut </li>
                <li> 2. Yannick Zickler </li>
                <li> 3. Bastian Eismann </li>
            </ul>
            entwickelt wurde. Eine Genauere Dokumentation ist <a href ="https://www.github.com/RoteRuebe/diplomarbeit"> auf Github zu finden. </a>
        </p>
    </body>
