<!DOCTYPE html>

<html>
  <head>
    <title> SumoBots </title>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"> </script>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.png"> </link>
  </head>

  <body>
    <ul id="navbar">
        <li class="navelement navelementActive"> <a class="navtext" href=""> Home </a> </li>
        <li class="navelement"> <a class="navtext" href="/about"> About </a> </li>
    </ul> 

    <div id="column1" class="column">
      <textarea id="log_text" readonly=true> </textarea>

      <form action="/index.php" method="post">
        <input type="text" id="message" placeholder="Command to robot"> </input>
        <input type="submit" id="submit" value="Send"> </input>
      </form>
    </div>

    <div id="column2" style="left: 33%" class="column">
      <canvas id="chart_acc"> </canvas>
      <canvas id="chart_gyro"> </canvas>
    </div>

    <div id="column3" style="left: 66%" class="column">
      <ul id="statusList">
        <li id="robotConnected"> </li>
        <li id="controllerConnected"> </li>
        <li> &ensp; </li>
        <li> v2.1 (Knizzante) </li>
      </ul>
    </div>

    <img id="htl-logo" src="/static/images/htl_logo.jpg"> </img>

    <script src = "static/source.js"> </script>

  </body>
</html>
